.contacts-container {
	font-family: 'DM Sans', sans-serif;
	margin: 0 16px;
	.contacts-subcontainer {
		.contacts-content {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			gap: 7.2vw;
			justify-content: space-between;
			.icons-container {
				margin-top: 18px;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 3px;
				.icon-content {
					.triangle {
						width: 0px;
						height: 0px;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-right: 7px solid rgb(255, 255, 255);
						transform: rotate(180deg);
						margin-right: -6px;
					}
					position: relative;

					.icon-text {
						display: flex;
						align-items: center;
						position: absolute;
						top: 15px;
						width: max-content;
						color: black;
						background-color: white;
						border-radius: 5px;
						right: 60px;
						z-index: 1;
						transform: rotateY(-90deg);
						transform-origin: right;
						opacity: 0;
						transition: all 0.5s ease-in-out;
						p {
							color: black;
							padding: 3px 7px;
							font-weight: 400;
							font-size: 16px;
							line-height: 21.2px;
						}
					}
					&:hover {
						.icon-text {
							transform: rotateY(0);
							transform-origin: right;
							opacity: 1;
						}
					}
				}
				.icon {
					color: #f0f0f080;
					transition: all 0.3s ease-in-out;
					cursor: pointer;
					&:hover {
						color: #f0f0f0;
					}
				}
			}
		}
		h2 {
			font-weight: 700;
			font-size: 17.1vw;
			letter-spacing: -4px;
			margin-bottom: 24px;
		}
	}
}

// Form

.form-container {
	flex: 1;
	margin-bottom: 175px;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	.contacts-form {
		display: flex;
		flex-direction: column;
		margin-bottom: 27px;
		input,
		textarea {
			background-color: transparent;
			border: none;
			width: 100%;
			border-bottom: 1px solid #f0f0f0;
			font-family: 'PT Serif', serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 21.2px;
			letter-spacing: -0.6px;
			padding-bottom: 2px;
			color: #f0f0f0;
			transition: all 0.3s ease-in-out;
			&::placeholder {
				padding-left: 2px;
				color: #f0f0f0;
				font-family: 'PT Serif', serif;
				opacity: 0.8;
			}
			&:focus-visible {
				outline: none;
				border-bottom: 1px solid #333333;
				&::placeholder {
					transition: all 0.3s ease-in-out;
					opacity: 0.4;
				}
			}
		}
		input[id='name'] {
			margin-bottom: 11px;
		}
		input[id='email'] {
			margin-bottom: 15.5px;
		}
		input[id='phone'] {
			margin-bottom: 22.5px;
		}

		textarea {
			resize: none;
			height: 162px;
		}
	}
	button {
		width: 95px;
		height: 43px;
		color: #333333;
		font-size: 30px;
		letter-spacing: -2px;
		font-family: 'PT Serif', serif;
		font-weight: 700;
	}
}

@media (min-width: 768px) {
	.contacts-container {
		font-family: 'DM Sans', sans-serif;
		margin: 0 32px;
		.contacts-subcontainer {
			margin-left: 88px;
			h2 {
				font-weight: 700;
				font-size: 93px;
				letter-spacing: -4px;
				line-height: 100%;
				margin-bottom: 52px;
			}
			.contacts-content {
				justify-content: space-between;
				.icons-container {
					margin-top: 18px;
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 3px;
					.icon-content {
						.triangle {
							display: none;
						}
						.icon-text {
							background-color: transparent;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.contacts-container {
		font-family: 'DM Sans', sans-serif;
		margin: 0 32px;
		.contacts-subcontainer {
			margin-left: 276px;
			h2 {
				font-weight: 700;
				font-size: 93px;
				letter-spacing: -4px;
				line-height: 100%;
				margin-bottom: 52px;
			}
			.contacts-content {
				justify-content: space-between;
				.icons-container {
					gap: 0px;
					.icon {
						transition: 0.2s all ease-in-out;
					}
					.icon-content {
						.triangle {
							display: none;
						}
						.icon-text {
							background-color: transparent;
							right: 70px;
						}
					}
				}
			}
		}
	}
	.onEnter {
		animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	}
	.nearby-icon-top {
		transition: all 0.4s ease-out;
		padding-bottom: 25px;
		animation: scale-up-hor-right-50 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
			both;
	}
	.nearby-icon-bottom {
		transition: all 0.4s ease-out;
		padding-top: 18px;
		animation: scale-up-hor-right-50 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
			both;
	}
	.most-distant-top {
		transition: all 0.4s ease-out;
		padding-bottom: 10px;
		animation: scale-up-hor-right-100 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
			both;
	}
	.most-distant-bottom {
		transition: all 0.4s ease-out;
		padding-top: 10px;
		animation: scale-up-hor-right-100 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
			both;
	}

	@keyframes scale-up-hor-right {
		0% {
			transform: scale(1);
			transform-origin: 50% 50%;
		}
		100% {
			padding-right: 20px;
			transform: scale(1.6);
			transform-origin: 100% 50%;
		}
	}
	@keyframes scale-up-hor-right-50 {
		0% {
			transform: scale(1);
			transform-origin: 50% 50%;
		}
		100% {
			padding-right: 8px;
			transform: scale(1.18);
			transform-origin: 100% 50%;
		}
	}
	@keyframes scale-up-hor-right-100 {
		0% {
			transform: scale(1);
			transform-origin: 50% 50%;
		}
		100% {
			transform: scale(0.9);
			transform-origin: 100% 50%;
		}
	}
}
