$expand-iframe-center: scale-in-ver-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
$expand-ifram-left: scale-in-hor-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

.projects-list-container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 150px;
}

// not opened projects

.closed-projects {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: 300ms;
  margin: 0 16px;

  >div {
    border: 1px solid white;
    flex-grow: 1;
  }

  &:has(.open) {
    margin: 0;
    height: 100vh;
    width: 98.5vw;
    position: fixed;
    top: 0;
    z-index: 1001;
    backdrop-filter: blur(10px);
  }


}

// closed-project single card

.project-card {
  height: 71px;
  border-radius: 2px;
  display: flex;
  position: relative;
  transition: 300ms;

  &:has(.open) {
    border: none;
  }

  &:hover {
    cursor: pointer;
  }


  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 44, 0, 0.7);
  }

  .project-desc {

    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;
    z-index: 2;


    p span {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 28px;
      letter-spacing: -0.07em;
      color: #f0f0f0;
    }

    h2 {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      letter-spacing: -0.07em;
      color: #f0f0f0;
    }
  }

  p {
    margin-left: 16px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.07em;
  }

  h2 {
    margin-right: 8px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.07em;
  }
}

// expanded single project card

.open {
  height: 564px;
  width: 100vw;
  z-index: 1001;
  margin: 0;

  .current-project {
    .iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: #fff;
      animation: $expand-iframe-center;
    }

    .project-desc-full {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 160px;
      position: absolute;
      bottom: -4px;
      padding: 11px 16px 12px 8px;
      background: rgba(201, 201, 201, 0.9);

      h3,
      p,
      a {
        color: #333333;
      }

      h3,
      p,
      a {
        color: #333333;
      }

      h3 {
        margin-top: -15px;
        margin-bottom: 5px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -0.07em;
      }

      p,
      a {
        margin-left: 0;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.04em;
      }

      p {
        padding-bottom: 10px;
      }

      a {
        width: fit-content;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.03em;
      }

      .button {
        display: flex;
        align-items: baseline;
        align-self: revert;

        p {
          font-family: 'PT Serif';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: -0.07em;
        }

        p {
          font-family: 'PT Serif';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: -0.07em;
        }

        button {
          margin-left: auto;
          border: none;
          background-color: transparent;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 21px;
          line-height: 39px;
          letter-spacing: -0.03em;
          color: #333333;

          &:hover {
            cursor: pointer;
          }

          svg {
            transform: translateY(3px);
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {

  .closed-projects {
    margin: 0 32px;
    gap: 12px;

    &:has(.open) {
      margin: 0;
    }
  }

  .project-card {
    height: 150px;
    border: 3px solid #f0f0f0;

    .project-desc {
      bottom: 0;
      margin-bottom: 12px;

      h2 {
        font-size: 70px;
        margin-right: 16px;
      }

      p {
        span {
          font-size: 40px;
        }
      }
    }
  }

  .open {
    height: 700px;

    .current-project {
      .project-desc-full {
        padding: 14px 40px 10px 32px;

        .button {
          p {
            font-size: 21px;
          }
        }

        h3 {
          font-size: 44px;
        }

        p {
          font-size: 21px;
          width: 75%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .closed-projects {
    margin-left: 308px;
    gap: 16px;
    transition: 300ms;

    &:has(.open) {
      width: 100vw;
      backdrop-filter: blur(10px);
      right: 0;
      animation: $expand-ifram-left;
      align-items: flex-end;

      >div {
        width: 800px;
        margin-right: 32px;
      }
    }
  }

  .project-card {
    &:has(.open) {
      width: 800px;
    }

    .project-desc {
      margin-bottom: 18px;

      h2 {
        font-size: 90px;
      }
    }
  }

  .open {
    height: 480px;

    .current-project {
      .iframe {
        animation: $expand-ifram-left;
      }

      .project-desc-full {
        max-width: 30vw;
        position: fixed;
        top: 0;
        left: 32px;
        background-color: transparent;
        height: 100vh;

        h3 {
          font-size: 90px;
          line-height: 117px;
          letter-spacing: -0.07em;
        }

        p {
          font-size: 32px;
          line-height: 39px;
          /* or 122% */

          letter-spacing: -0.03em;
        }

        .button {
          p {
            font-size: 40px;
            line-height: 53px;
            letter-spacing: -0.07em;
          }
        }
      }
    }
  }
}

// animations

@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0.7);
    opacity: 1;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0.9);
    opacity: 0.8;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;

  }
}