.closed-projects {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 150px;
  transition: 300ms;
  margin: 0 16px;
}

.margin {
  margin: 0;
}

.project-card {
  height: 71px;
  border: 1px solid white;
  display: flex;
  position: relative;
  transition: 300ms;



  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 44, 0, 0.7)
  }

  .project-desc {
    user-select: none;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;
    z-index: 2;

    p span {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 28px;
      letter-spacing: -0.07em;
      color: #F0F0F0;
    }

    h2 {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      letter-spacing: -0.07em;
      color: #F0F0F0;
    }

  }

  p {
    margin-left: 16px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.07em;
  }

  h2 {
    margin-right: 8px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.07em;

  }
}

.border {
  border: none !important;
}

.opacity {
  opacity: 0.3;
}

.open {
  height: 564px;
  position: relative;
  overflow: hidden;
  width: 100%;

  .current-project {
    .iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: #fff;
    }

    .project-desc-full {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 181px;
      position: absolute;
      bottom: 0;
      padding: 11px 16px 12px 8px;
      background: rgba(201, 201, 201, 0.9);

      h3,
      p,
      a {
        color: #333333;
      }

      h3 {
        margin-top: -15px;
        margin-bottom: 5px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -0.07em;
      }

      p,
      a {
        margin-left: 0;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.04em;
      }

      a {
        width: fit-content;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.03em;
      }

      .button {
        display: flex;
        align-items: baseline;

        p {
          font-family: 'PT Serif';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: -0.07em;
        }

        button {
          margin-left: auto;
          border: none;
          background-color: transparent;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 21px;
          line-height: 39px;
          letter-spacing: -0.03em;
          color: #333333;

          svg {
            transform: translateY(3px);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {

  .closed-projects {
    gap: 12px;
    margin: 0 32px;
  }

  .margin {
    margin: 0;
  }

  .project-card {
    height: 150px;
    border: 3px solid white;

    .project-desc {
      p span {
        font-size: 40px;
        line-height: 53px;
        letter-spacing: -0.03em;
      }

      h2 {
        font-size: 70px;
        line-height: 91px;
        letter-spacing: -0.07em;
        margin-right: 16px;
      }
    }
  }



  .open {
    height: 700px;

    .project-desc-full {
      height: 225px;


      h2 {
        font-size: 44px;
        line-height: 57px;

      }

      p {
        font-size: 21px;
        line-height: 22px;
        letter-spacing: -0.03em;
      }
    }

    .button {
      p {
        font-size: 21px;
        line-height: 28px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .closed-projects {
    margin: 0 32px
  }

  .project-card {
    height: 150px;
  }

  .open {
    height: 700px;

    .project-desc-full {
      height: 225px;

      h3 {
        font-size: 44px;
        line-height: 57px;
      }

      p {
        font-size: 21px;
        line-height: 22px;
        /* or 105% */

        letter-spacing: -0.03em;
      }
    }

    .button {
      p {
        font-size: 21px;
        line-height: 28px;
      }
    }
  }
}