$expand-iframe-center: scale-in-ver-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
$expand-iframe-left: scale-in-hor-center 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
$scale-in-bottom-text: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
$text-animation: text-animation 1s ease-out;

.projects-list-container {
	max-width: 1132px;
	margin-bottom: 150px;
	margin-left: auto;
}


.closed-projects {
	display: flex;
	flex-direction: column;
	gap: 8px;
	transition: 300ms;
	margin: 0 16px;

	>div {
		border: 1px solid white;
		flex-grow: 1;
	}

	&:has(.open) {
		margin: 0;
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		z-index: 1001;
		backdrop-filter: blur(10px);

		>div {
			border: none;
			opacity: 0.3;
		}
	}
}

.project-card {
	height: 71px;
	border-radius: 2px;
	display: flex;
	align-items: stretch;
	flex-grow: 1;
	position: relative;
	transition: 300ms;

	&:has(.open) {
		height: 564px;
		z-index: 1001;
		margin: 0;
		border: none;
		opacity: 0.3;

		&:has(.current-project) {
			opacity: 1;

			.iframe {
				width: 100%;
				height: -webkit-fill-available;
				position: absolute;
				top: 0;
				background: #fff;
				animation: $expand-iframe-center;
			}

			.project-desc-full {
				width: 97%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				height: 160px;
				position: absolute;
				bottom: 0px;
				padding: 11px 16px 12px 8px;
				z-index: 99999;
				background: rgba(201, 201, 201, 0.9);

				h3,
				p,
				a {
					color: #333333;

				}

				h3,
				p,
				a {
					color: #333333;
				}

				h3 {
					margin-top: -15px;
					margin-bottom: 5px;
					font-family: 'DM Sans';
					font-style: normal;
					font-weight: 700;
					font-size: 40px;
					line-height: 52px;
					letter-spacing: -0.07em;
				}

				p,
				a {
					margin-left: 0;
					font-family: 'DM Sans';
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 18px;
					letter-spacing: -0.04em;
				}

				p {
					padding-bottom: 10px;
				}

				a {
					width: fit-content;
					font-size: 14px;
					line-height: 16px;
					letter-spacing: -0.03em;
				}

				.button {
					display: flex;
					align-items: baseline;
					align-self: revert;

					p {
						font-family: 'PT Serif';
						font-style: normal;
						font-weight: 400;
						font-size: 16px;
						line-height: 21px;
						letter-spacing: -0.07em;
					}

					p {
						font-family: 'PT Serif';
						font-style: normal;
						font-weight: 400;
						font-size: 16px;
						line-height: 21px;
						letter-spacing: -0.07em;
					}

					button {
						margin-left: auto;
						border: none;
						background-color: transparent;
						font-family: 'DM Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 21px;
						line-height: 39px;
						letter-spacing: -0.03em;
						color: #333333;
						z-index: 99999;
						transition: 300ms;

						&:hover {
							cursor: pointer;
							opacity: 0.5;
						}

						svg {
							transform: translateY(3px);
						}
					}
				}
			}
		}
	}

	&:hover {
		cursor: pointer;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(201, 44, 0, 0.7);
	}

	.project-desc {
		display: flex;
		justify-content: space-between;
		align-items: end;
		flex-grow: 1;
		z-index: 2;

		p {
			font-family: 'PT Serif';
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 28px;
			letter-spacing: -0.07em;
			color: #f0f0f0;
		}

		h2 {
			font-family: 'DM Sans';
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 52px;
			letter-spacing: -0.07em;
			color: #f0f0f0;
		}
	}

	p {
		margin-left: 16px;
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 28px;
		letter-spacing: -0.07em;
	}

	h2 {
		margin-right: 8px;
		font-weight: 700;
		font-size: 40px;
		line-height: 52px;
		letter-spacing: -0.07em;
	}
}



@media (min-width: 768px) {
	.closed-projects {
		margin: 0 32px;
		gap: 12px;

		>div {
			border: 3px solid #F0F0F0;
		}
	}

	.project-card {
		height: 150px;
		border: 3px solid #f0f0f0;

		.project-desc {
			margin-bottom: 16px;

			h2 {
				font-size: 70px;
				margin-right: 16px;
			}

			p {
				font-size: 40px;
			}

			&:has(.open) {
				height: 100%;
				animation: $expand-iframe-center;

				&:has(.current-project) {
					.project-desc-full {
						width: 98%;
						cursor: default;
						padding: 14px 40px 10px 32px;

						.button {
							p {
								font-size: 21px;
								cursor: default;
							}
						}

						h3 {
							font-size: 44px;
						}

						p {
							font-size: 21px;
							width: 75%;
						}
					}
				}
			}
		}




	}
}

@media (min-width: 1024px) {
	.closed-projects {
		gap: 16px;
		transition: 300ms;

		&:has(.open) {
			width: 100vw;
			backdrop-filter: blur(10px);
			right: 0;
			animation: $expand-iframe-left;
			align-items: flex-end;

			>div {
				width: 60%;
				margin-right: 0;

				&:hover {
					opacity: 1;
				}
			}
		}

		>div {
			&:hover {
				opacity: 0.6;
			}
		}
	}

	.project-card {
		&:has(.open) {
			opacity: 0.3;

			&:has(.current-project) {
				opacity: 1;
			}
		}

		.project-desc {
			margin-bottom: 25px;

			h2 {
				font-size: 90px;
			}
		}

		.open {
			animation: none;

			.current-project {

				.iframe {
					animation: $expand-iframe-left;
				}

				.project-desc-full {
					cursor: default;
					height: 100vh;
					max-width: 30%;
					position: fixed;
					bottom: 0;
					left: 0;
					background-color: transparent;
					justify-content: end;
					margin-left: 32px;
					padding-left: 0;


					h3 {
						font-size: 80px;
						line-height: 70px;
						letter-spacing: -0.07em;
						animation: $text-animation;
						margin-bottom: 32px;
					}

					p {
						font-size: 28px;
						line-height: 39px;
						/* or 122% */
						letter-spacing: -0.03em;
						animation: $text-animation
					}

					a {
						font-size: 21px;
						line-height: 39px;
						animation: $text-animation
					}

					.button {
						p {
							font-size: 40px;
							line-height: 53px;
							letter-spacing: -0.07em;
						}

						button {
							top: 30px;
							position: fixed;
							right: 65%;
						}
					}
				}
			}
		}
	}


}

@media (min-width: 1400px) {

	.closed-projects {
		margin-left: 0;
	}

	.project-card {
		&:has(.open) {
			width: 800px;

			&:has(.current-project) {
				opacity: 1;
			}
		}
	}

	.open {
		.current-project {
			.project-desc-full {
				max-width: 30vw;
				bottom: 50px;
				left: 32px;

				h3 {
					font-size: 90px;
					line-height: 117px;
				}

				p {
					font-size: 32px;
				}

				.button {
					button {
						right: 62%;
					}
				}
			}
		}
	}
}

// animations

@keyframes scale-in-ver-center {
	0% {
		transform: scaleY(0.7);
		opacity: 1;
	}

	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}

@keyframes scale-in-hor-center {
	0% {
		transform: scaleX(0.9);
		opacity: 0.8;
	}

	100% {
		transform: scaleX(1);
		opacity: 1;
	}
}

@keyframes slide-in-bottom {
	0% {
		transform: translateY(30px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes text-animation {
	0% {
		transform: translateY(100%);
		opacity: 0;
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	}

	20% {
		transform: translateY(15%);
		opacity: 0.5;
		-webkit-clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
		clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
	}

	80% {
		transform: translateY(3%);
		opacity: 1;
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 100%, 0 100%);
		clip-path: polygon(0 15%, 100% 15%, 100% 100%, 0 100%);
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}